/* Card 컴포넌트 고유 스타일 */

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.cardContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


/* 예시 버전이라 width 조정 필요 151*112 */
.cardItem {
  background: white;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #E5E5EC;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 112px;
  min-width: 110px;
  flex-shrink: 0;
}



.cardTitle {
  margin: 0 0 8px 0;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  line-height: 1.4;
  line-height: 140%;
  letter-spacing: -2.5%;
  white-space: pre-line;
}


.cardDetailButton {
  background: transparent;
  color: #767676;
  border: none;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: auto;
  align-self: flex-end;
  padding: 0;
}

