body {
  margin: 0;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root, body{
  --brand:#184375;
  --panel:#ffffff;
  --border:#e5e5ec;
  --text:#1f2328;
  --muted:#8a8f98;
  --login:#767676;
  --textbox:#f7f7f8;

  font-size:14px;
}